body{
    background-color: rgb(231, 231, 231);
    font-family: 'Times New Roman', Times, serif;
    background-image: url(./images/trianglepattern.png);

}
h1 {
    text-transform: uppercase;
    text-shadow: 3px 2px 5px #637383;
    background-color: rgba(186, 171, 171, 0.721);
    text-align: center;
    border-radius: 15px;
    border: solid black;
    background-image: radial-gradient(#ffffff, rgba(98, 79, 79, 0.707));
}
h2{
    text-align: center;
    text-decoration: underline;
}
h3{
    text-transform: capitalize;
    background-color: rgb(205, 200, 200);
    font-size: 17pt;
    border-radius: 15px;
    border: solid black;
}
ul {
    font-family: Arial, Helvetica, sans-serif;
}
li {
    font-family: Arial, Helvetica, sans-serif;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(75, 56, 180);
}
a:link {
    color: darkcyan;
}
a:hover{
    text-decoration: none;
    color: navy;
}
a:visited{
    color: purple;
}
.ingredient {
    color: darkcyan;
    font-weight: 600;
}
#mainContainer{
    width: 80%;
    margin: auto;
}
#unorderedlist{
    clear: both;
    width: 27%;
    float: left;
}
#orderedlist{
    float: right;
    width: 67%;
}
#paragraphs{
    clear: both;
    padding-top: 50px;
}
#headings{
    float: right;
    width: 72%;
    padding-left: 3%;
}
#cookies{
    float: left;
    width: 25%;
}