body{
    background-color: rgb(231, 231, 231);
    font-family: 'Times New Roman', Times, serif;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(./images/trianglepattern.png);

}
h1 {
    text-transform: uppercase;
    text-shadow: 3px 2px 5px #637383;
    background-color: rgba(186, 171, 171, 0.721);
    text-align: center;
    border-radius: 15px;
    border: solid black;
    background-image: radial-gradient(#ffffff, rgba(98, 79, 79, 0.707));
}
h2{
    text-align: center;
    text-decoration: underline;
}
h3{
    text-transform: capitalize;
    background-color: rgb(205, 200, 200);
    font-size: 17pt;
    border-radius: 15px;
    border: solid black;
}
ul {
    font-family: Arial, Helvetica, sans-serif;
}
li {
    font-family: Arial, Helvetica, sans-serif;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(75, 56, 180);
}
a {
    color: purple;
    text-decoration: none;
}
.ingredient {
    color: darkcyan;
    font-weight: 600;
}
